@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    background-color: #5d776c;
}
.loginClass {
    --radius: 24px;
    background-image: url("../images/background-green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


/* Navigation bar */
ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #353d38;
    padding-top: 20px;
    padding-bottom: 20px;
}

li a {
   color:aliceblue; 
   padding:20px 30px 20px 30px;
   text-decoration: none;
}

li a:hover {
    background-color:#b6c3bf;
    color: black;
  }


/* Login page styling */
.login, 
.createAccount{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: var(--radius);
      height: 400px;
      width: 300px;
}

.loginHeader{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.hiddenForm{
    display:none;
}

#username,
#password,
#confirmPassword,
#createPassword,
#createUsername{
    margin:10px;
    width: 200px;
}

#incorrectInfo {
    color: rgb(221, 3, 3);
}

.siteName{
    color: white;
    text-align: center;
    font-size: 48px;
    font-family:Staatliches;
}

.betOptions{
    text-align: center;
    color: black;
}

.game{
    display:flex;
    justify-content: center;
    align-items: center;
}

.spread,
.moneyline,
.totals{
    margin:10px;
    display: flex;
    flex-direction: column;
}

.league,
.usersBets,
.betResponsibly{
    background-color: #353d38;
    color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 24px;
}

.futureBet{
    display:flex;
    flex-direction: column;
    align-items: center;
}


button{
    height:50px;
    width:80px;
    background-color: #b6c3bf;
}

button:hover{
    background-color: #739382;
}

.matchup{
    margin-top: 50px;;
}

.team{
    margin:10px;
    height: 50px;
    width:200px;

}

.record{
    display:flex;
    text-align: center;
    flex-direction: column;
    color:white;
    font-size: 16px;
}

.usersBets,
.betResponsibly{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.individualWager{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.winLossButtons{
    display: flex;
    margin: 10px;
}

.individualWagerInfo{
    font-size: 16px;
}

.winButton{
    background-color: green;
    color:white;
    height: 32px;
    width: 56px;
    margin:10px;
}

.lossButton{
    background-color: red;
    color:white;
    height: 32px;
    width: 56px;
    margin:10px;
}

.pushButton{
    background-color: black;
    color:white;
    height: 32px;
    width: 56px;
    margin:10px;
}

.betResponsibly{
    background-color:#5d776c ;
}

.credits{
    background-color: #353d38;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

img{
    margin: 10px;
}


